{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Rana Waleed</title>
        <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>
<body>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-3 ">
            <div class=" card card-body h-100 border-info" id="profile-wrapper">
               <img id="profile-pic" src="{% static 'images/rona.jpeg' %}">
               <hr>
               <h4> Rana Waleed</h4>
               <p>I love coding, doing research and collaborations</p>
            </div>
        </div>

        <div class="col-md-9">
            <div class=" card card-body h-100 border-info">
                <h4>Professional Profile</h4>
                <hr>
                <p>        
                <h4>Education :</h4> <p>Computer Science: AI and Data Science Major at Zewail City University (Expected Graduation: 2026)</pr>
                 <br>
                 <h4>Location :</h4> Cairo, Egypt
                 <br>
                 <h4>Birthdate :</h4> May 5, 2004
                 <br>
                 <h4>Phone :</h4> 01117783891

                </p>

                <ul class="social-links">
                    <li>
                        <a href="https://github.com/ranna-waleed" target="_blank">
                          
                            <img class="social" src="{% static 'images/git.png' %}" alt="GitHub">
                        </a>
                    </li>
                    <li>
                        <a href="mailto:waleedrana373@gmail.com">
                            <img class="social" src="{% static 'images/mail.png' %}" alt="Email">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/rana-waleed-9aba2a263" target="_blank">
                            <img class="social" src="{% static 'images/in.png' %}" alt="LinkedIn">
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class=" card card-body h-100">
                <h4>Academic Background</h4>
                <hr>
                <p>As a computer Science student at Zewail City University, I am pursuing a major in AI, and Data Science, with an anticipated graduation in 2026. </p>
                <p>My academic journey has equipped me with a solid foundation in various disciplines, including object-oriented programming using C++, Python, data structures, databases, machine learning, data mining, data visualization, data acquisition, digital logic, and the fundamentals of circuits and electronics.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class=" card card-body h-100">
                <h4>Certifications and Practical Experience</h4>
                <hr>
                <p>I have furthered my knowledge through certificates from Coursera in advanced learning algorithms and supervised machine learning regression and classification. </p><p>Additionally, I gained practical experience during my internship in Python development at ESLSCA University.</p>
            </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="col-md-6">
            <div class=" card card-body h-100">
                <h4>Technical Skills</h4>
                <hr>
                <p>My technical skill set includes proficiency in Python, C++, CSS, HTML, and SQL.</p>
                <p>I am also experienced with developer tools such as VS Code, Visual Studio, Proteus, Tableau, and Django.</p> 
                <p> My projects demonstrate my ability to apply these skills effectively in real-world scenarios.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class=" card card-body h-100">
                <h4>Language Proficiency</h4>
                <hr>
                <p>I am fluent in Arabic and English, including technical English, which enables me to communicate complex technical concepts clearly and effectively.</p>
            </div>
        </div>
      </div>
      <br>
    </div>

    </body>
</html>